@import "variables";
@import "general-styles";
@import "header";
@import "primary-menu";
@import "ads-blocks";
@import "sidebar-left";
@import "sidebar-right";
@import "news-pages";
@import "pop-up-sidebar";
@import "arrow-up";
@import "weather-block";

//Trending slider (view, homepage)
.block-views-blocknews-left-sidebar-block-6 {
  margin-top: spacing(4);
  padding: 0;
  background: #fff;
  position: relative;
  @media screen and (max-width: $phone-max) {
    display: none;
  }
  h2, .content {
    display: inline-block;
    margin: 0 auto;
  }
  h2 {
    padding: spacing(2.5) 0;
    line-height: 100%;
    vertical-align: middle;
    text-align: center;
    width: 10%;
    background-color: #3d348b;
    font-size: $fontSm;
    font-weight: bold;
    color: #fff;
    font-family: Heebo,Helvetica,Arial,sans-serif;
  }
  .content {
    padding: spacing(2.5) 0;
    line-height: 100%;
    vertical-align: middle;
    margin-left: 10px;
    width: 88%;
  }
  .views_slideshow_cycle_main, .views-slideshow-controls-bottom {
    display: inline-block;
  }
  .views_slideshow_cycle_main {
    width: 80%;
    .views_slideshow_cycle_teaser_section {
      width: available;
      height: auto;
      .views-field-title {
        max-width: 80%;
      }
    }
  }
  .views-slideshow-controls-bottom {
    position: absolute;
    right: spacing(2.5);
    width: 18%;
    text-align: right;
    .views_slideshow_controls_text {
      span a {
        visibility: hidden;
      }
      span:nth-child(odd) {
        a:hover {
          display: inline-block;
          background: #f5f5f5;
          text-decoration: none;
        }
      }
      span:nth-child(1) {
        a::after {
          visibility: visible;
          content: "<";
        }
      }
      span:nth-child(2) {
        display: none;
      }
      span:nth-child(3) {
        a::after {
          visibility: visible;
          content: ">";
          width: 39px;
          text-align: center;
          color: black;
        }
      }
    }
  }
}

//Homepage Paragraph (Main News)
.homepage-paragraph {
  display: flex;
  @media (max-width: $phone-max) {
    flex-direction: column;
  }
  .first-group, .second-group {
    width: 50%;
    position: relative;
    @media (max-width: $phone-max) {
      width: 100%;
    }
  }
  .field--name-field-news-block-1 {
    margin-bottom: spacing(-1);
    img {

      width: 570px;
      height: 500px;
      object-fit: cover;
      @media (max-width: $phone-max) {
        width: $phone-max;
        height: 300px;
      }
    }
    .field--name-field-news-category {
      position: absolute;
      top: 0;
      left: spacing(6);
      background: #3d348b;
      padding: 0 spacing(3);
      a {
        color: white;
      }
    }
    .field--name-field-news-reference {
      position: absolute;
      bottom: spacing(10);
      left: spacing(3);
      right: spacing(3);
      a {
        font-weight: bold;
        font-size: $font3xl;
        color: #fff;
        line-height: 1;
      }
    }
    .field--name-field-news-author {
      display: inline-block;
      margin-bottom: 0;
      position: absolute;
      bottom: spacing(4);
      left: spacing(4);
      a {
        font-size: $fontSm;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
      }
    }
    .field--name-field-news-date {
      display: inline-block;
      position: absolute;
      bottom: spacing(4);
      left: spacing(20);
      time {
        font-size: $fontSm;
        color: #fff;
      }
    }
    .field--type-image {
      a {
        img {
          margin: 0 auto;
        }
      }
    }
  }
  .field--name-field-news-block-2 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    img {
      width: 570px;
      height: 249px;
      object-fit: cover;
      @media (max-width: $phone-max) {
        width: 380px;
        height: 200px;
      }
    }
    >.field__item:nth-child(n+3):nth-child(-n+4) {
      margin-top: -3px;
    }
    >.field__item {
      margin-left: 2px;
      position: relative;
      width: calc(50% - 2px);
      transition: 1s;
      &:hover {
        transform: scale(1.1);
        z-index: 5;
      }
      .field--name-field-news-category {
        position: absolute;
        top: 0;
        left: spacing(4.5);
        background: #3d348b;
        padding: 0 spacing(3);
        a {
          color: white;
        }
      }
      .field--name-field-news-reference {
        position: absolute;
        bottom: spacing(5);
        padding: 0 spacing(2);
        a {
          font-weight: bold;
          font-size: $fontMd;
          color: #fff;
          line-height: 1;
        }
      }
      .field--name-field-news-date {
        position: absolute;
        bottom: spacing(2);
        padding: 0 spacing(3);
        time {
          font-size: $fontXs;
          font-weight: bold;
          color: #fff;
        }
        @media (max-width: $tablet) {
          display: none;
        }
      }
      .field--type-image {
        img {
          margin: 0 auto;
          top: 0;
        }
      }
    }
  }
}

//Economy & Government blocks
#block-views-block-news-left-sidebar-block-7,
#block-views-block-news-left-sidebar-block-3-2 {
  margin-top: spacing(5);
  padding: 0 spacing(4);
  align-content: center;
  background: white;
  border-top: 5px solid #3d348b;
  box-shadow: 0 2px 4px;
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .views-row {
    border: none;
  }
  h2 {
    font-size: $fontLg;
    display: block;
    color: #000000;
    font-weight: bold;
    border-bottom: 2px solid #f5f5f5;
  }
  .views-col {
    position: relative;
    .views-field-field-news-category {
      position: absolute;
      margin: spacing(32) 0 0 spacing(2.5);
      .field-content {
        a {
          font-size: $fontSm;
          color: #fff;
          text-transform: uppercase;
          background-color: #3d348b;
          padding: 0 spacing(1.25);
        }
      }
    }
    .views-field-title {
      span {
        display: block;
        color: #221e22;
        font-size: $fontLg;
        font-weight: bold;
        line-height: 1.4;
      }
    }
    .views-field-uid {
      text-transform: uppercase;
      color: #3d348b;
      font-size: $fontSm;
      font-weight: bolder;
    }
    .views-field-created {
      text-transform: uppercase;
      font-size: $fontSm;
    }
    p {
      font-size: $fontLg;
      color: #000000;
    }
  }
}

//Editor Picks (view of paragraphs) - Homepage
.block-views-blockeditor-picks-news-block-1 {
  margin: spacing(5) 0;
  padding: 0 spacing(4) spacing(4);
  align-content: center;
  background: #fff;
  border-top: 5px solid #3d348b;
  box-shadow: 0 2px 4px;

  h2 {
    font-size: $fontLg;
    display: block;
    color: #000000;
    font-weight: bold;
    border-bottom: 2px solid #f5f5f5;
  }

  .field--name-field-editor-picks-right, .field--name-field-editor-picks-left {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    position: relative;
  }

  .field--name-field-editor-picks-left {
    position: relative;
    margin-right: 5%;
    .field--name-field-news-image {
      img {
        width: 100%;
        text-align: center;
      }
    }
    .field--name-field-news-category {
      position: absolute;
      top: 0;
      left: spacing(4.5);
      background: #3d348b;
      padding: 0 spacing(3);
      a {
        color: white;
      }
    }
    .field--name-field-news {
      a {
        display: block;
        color: #221e22;
        font-size: $fontXl;
        font-weight: bold;
        font-family: Georgia, "Times New Roman", Times, serif;
      }
    }
    .field--name-field-news-author, .field--name-field-news-date {
      display: inline-block;
    }
    .field--name-field-news-short-description {
      font-size: $fontXl;
    }
    .field--name-field-read-more-button {
      a {
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: .05em;
        font-size: $fontLg;
        margin-top: spacing(4);
        padding: spacing(2) spacing(5);
        border: 1px solid #e0e0e0;
        box-shadow: 0 1px 3px;
        text-rendering: auto;
      }
    }
    .field--name-field-news-author {
      text-transform: uppercase;
      font-size: $fontSm;
      font-weight: bolder;
      a {
        color: #3d348b;
      }
    }
  }
  .field--name-field-editor-picks-right {
    img {
      border-radius: 15px;
    }
    .field__item {
      position: relative;
      .paragraph--type--editor-picks-small {
        .text-part {
          position: absolute;
          margin-left: spacing(32);
          top: 0;
          .field--name-field-news {
            font-weight: bold;
            font-size: $fontLg;
            font-family: inherit;
          }
        }
      }
    }
  }
}



//Evening Report block
.block-views-blocknews-left-sidebar-block-5 {
  margin-top: spacing(5);
  padding: 0 spacing(4) spacing(6);
  align-content: center;
  background: white;
  border-top: 5px solid #3d348b;
  box-shadow: 0 2px 4px;

  h2 {
    font-size: $fontLg;
    display: block;
    color: #000000;
    font-weight: bold;
    border-bottom: 2px solid #f5f5f5;
  }

  .views-view-grid {
    display: flex;
    @media screen and (max-width: 639px) {
      flex-direction: column;
    }

    .views-col {
      height: auto;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: $phone-max) {
        width: 100%;
      }

      .views-row {
        position: relative;
        height: 50%;

        .views-field-field-news-category {
          position: absolute;
          top: 0;
          left: spacing(4);
          background: #3d348b;
          padding: 0 spacing(2.5);

          a {
            color: #fff;
          }
        }

        .views-field-field-image {
        }

        .views-field-title {
          span {
            font-size: $fontLg;
            font-weight: bold;
          }
        }

        .views-field-field-short-description {
          p {
            font-size: $fontLg;
          }
        }
      }

      .row-5 {
        display: none;
      }
    }
  }

  .pager {
    margin-top: spacing(2.5);
    text-align: center;
    padding: 0;

    border: 1px solid #e0e0e0;
    border-radius: 2px;

    &:hover {
      background: #3d348b;


    }

    .pager__item {
      padding: 0;

      .button {
        padding-top: 0;
        padding-bottom: 0;
        height: 30px;
        line-height: 28px;
        position: relative;
        display: inline-block;
        font-size: $fontSm;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
        color: #212121;
        background: none;
        transition: .2s ease;
        text-rendering: auto;
        border: none;

      }
    }

    &:hover {
      .pager__item {
        a {
          color: white;
        }
      }
    }
  }
}


#block-views-block-news-3-items-category-block-2 {
  float: left;
  clear: both;
}

#block-views-block-news-3-items-category-block-6 {
  float: right;
  clear: both;
}

#block-views-block-news-3-items-category-block-1 {
}

#block-views-block-news-3-items-category-block-2, #block-views-block-news-3-items-category-block-1,
#block-views-block-news-3-items-category-block-6 {
  display: inline-block;
  width: 31%;
  margin-top: spacing(4);
  padding: 0;
  align-content: center;
  background: white;
  border-top: 5px solid #3d348b;
  box-shadow: 0 2px 4px;
  vertical-align: top;

  >h2 {
    margin: spacing(2) spacing(3);
    font-size: $fontLg;
    display: block;
    color: #000000;
    font-weight: bold;
    border-bottom: 2px solid #f5f5f5;
  }

  .views-row {
    margin: 0 spacing(3) 0;
  }

  .views-row:nth-child(1) {
    position: relative;

  }

  .views-row:nth-child(n+2):nth-child(n-3) {
    article {
      header, >div {
        display: inline-block;
        width: 49%;
        vertical-align: top;
      }
      >div {
        float: left;
      }
      header {
        float: right;
      }
    }
  }
}
