//Header
.region-header {
  height: 90px;
  position: relative;
  #block-sitebranding {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
