#block-hamburgermenuimage, #block-hamburgermenuimage-2 {
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 0;
  img {
    margin: 0 auto;
    width: 45px;
    height: 45px;
    &:hover {
      height: 35px;
      margin: spacing(1) auto;
      cursor: pointer;
    }
  }
}

#block-hamburgermenuimage-2 {
  display: none;
  position: fixed;
  top: spacing(14);
  left: spacing(5);
  opacity: 0.7;
  z-index: 40;
  background-color: white;
  border-radius: 10px;
  padding: 0 spacing(1);
  transition: 1s;
}

.popup-menu {
  background: url("https://www.wallpapertip.com/wmimgs/40-405583_high-resolution-white-background-hd.jpg") 100% 100% no-repeat;

  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 330px;
  border-right: solid 2px black;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  .search-block-form {
    background: none;
    padding-bottom: spacing(7);
    border-bottom: solid 1px black;
  }
  .region-sidebar-hidden {
    background: none;
    width: 100%;
    position: absolute;
    left: 0;
    .block {
      border: none;
    }
    nav {
      background: none;
      .content {
        .clearfix {
          .menu-item {
            a {
              color: #212121;
              margin-bottom: 15px;
              display: block;
              font-size: $fontLg;
              line-height: 1.444em;
              font-weight: 700;
              position: relative;
              transition: 0.5s;
              &:hover {
                color: #3d348b;
                transform: scale(1.2);
                margin-left: 20px;
                padding-left: 5px;
                border-left: 5px solid #3d348b;
              }
            }
          }
        }
      }
    }
    #block-sociallinks-2 {
      background: none;
      position: fixed;
      bottom: spacing(7);
      left: 0;
      ul {
        li {
          display: inline-block;
          margin-right: spacing(3);
          transition: 1s;
          &:hover {
            transform: scale(1.5);
          }
        }
      }
    }
    .block-system-powered-by-block {
      background: none;
      position: fixed;
      bottom: 0;
      left: 0;
    }
  }
}

.active {
  z-index: 1;
}

.menu-backdrop {
  position: fixed;
  background-color: black;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
