// Primary menu & Social links
.region-primary-menu {
  background-image: linear-gradient(
      0deg, rgb(226, 226, 226) 0%, rgb(255, 255, 255) 75%);
  position: relative;
  nav {
    @media screen and (max-width: $tablet) {
      width: 100%;
      text-align: center;
      padding: 0 auto;
      margin: 0 auto;
    }
  }
  nav, #block-sociallinks {
    display: inline-block;
  }
  .menu {
    a {
      font-size: 15px;
      font-weight: bold;
      background: none;
      margin: 0 auto;
    }

    a:hover, a.is-active {
      background: none;
      color: #3d348b;
    }
  }
  #block-sociallinks {
    position: absolute;
    top: 50%;
    right: 0%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    @media screen and (max-width: $tablet) {
      display: none;
    }
    li {
      display: inline-block;
      margin: 0 20px 0 0;
    }
  }
  //Search form
  .search-block-form {
    display: none;
  }
}
